<p>Привет, {{name}} {{surname}}!</p>
<p>Вас приветствуют приложение Gallery!</p>
<p>Вам необходимо подтвердить вашу почту для дальнейшей регистрации</p>
<p>Пожалуйста перейдите по этой ссылке для подтверждения почты</p>
<a>{{redirectUri}}</a>
<p>Если регистрировались не вы, то пожалуйста не переходите по данной ссылке</p>